<div>
    <p>Nombre del empleado: {{ nombre }}</p>
    <p>Edad:{{edad}}</p>
    <p *ngIf="edad>=18">Es mayor de edad</p>
    <table border="1">
        <tr>
            <td>Sueldos</td>
        </tr>
        <tr *ngFor="let sueldo of sueldos">
            <td>{{ sueldo }}</td>       
        </tr>
    </table>
</div>

<div>
    <p>{{contador}}</p>
    <button (click)="incrementar()">Sumar 1</button>
    <button (click)="decrementar()">Restar 1</button>
  </div>

  <div>
    <p>Ingrese nombre<input type="text" [(ngModel)]="nombre"></p>
    <p>Ingrese apellido<input type="text" [(ngModel)]="apellido"></p>  
    <p>Nombre completo:{{nombre}} {{apellido}}</p>
  </div>

  <div> <!-- ================================ TABLA PARA INGRESAR OBJETOS ============================================ -->
    <h1>Administración de artículos</h1>
      <table border="1" *ngIf="hayRegistros(); else sinarticulos">
        <tr>
          <td>Codigo</td><td>Descripcion</td><td>Precio</td><td>Borrar</td><td>Seleccionar</td>
        </tr>
        <tr *ngFor="let art of articulos">
          <td>{{art.codigo}}</td>
          <td>{{art.descripcion}}</td>
          <td>{{art.precio}}</td>
          <td><button (click)="borrar(art.codigo)">Borrar?</button></td>
          <td><button (click)="seleccionar(art)">Seleccionar</button></td>        
        </tr>
      </table>
      <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
      <div>
        <p>
          Codigo:<input type="number" [(ngModel)]="art.codigo" />
        </p>
        <p>
          descripcion:<input type="text" [(ngModel)]="art.descripcion" />
        </p>
        <p>
          precio:<input type="number" [(ngModel)]="art.precio" />
        </p>            
        <p><button (click)="agregar()">Agregar</button>
        <button (click)="modificar()">Modificar</button></p>
      </div>
  </div>